
body{
           
     background: darkblue;
     font:normal 15pt Arial;
     text-align: left;     
}

header{

     color: white;
     text-align: center;
}

section{

     background: white;
     border-radius: 10px;
     padding: 15px;
     width: 500px;
     margin: auto;    
     box-shadow: 5px 5px 10px black;        
}

footer{

     color: white;
     font-style: italic;
     text-align: center;
}

img{

     border-radius: 50% ;
      width: 250px;
      height: 250px;
     
}






